* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(82, 77, 77);
}

.wrapper {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.edu-link {
  color: #0d3c7d;
  text-decoration: none;
  font-weight: 600;
}

/* COMMON STYLES */
.title-blue {
  text-transform: uppercase;
  /* font-size: px; */
  line-height: 32px;
  font-weight: bold;
  margin: 0px 0px 15px 50px;
}

.title-white {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  color: #0d3c7d;
  margin-left: 56px;
}

.blue-zone {
  max-width: 35%;
  width: 100%;
  height: 1515px;
  color: #fff;
  /* background-color: #3C7DD9; */
  background-color: #0d3c7d;
}

/* PHOTO */
.photo-block {
  overflow: auto;
}

.photo-block__container {
  text-align: center;
  margin: 20px 0;
}

.photo-block__picture {
  width: 290px;
  height: 290px;
  border-radius: 50%;
  object-fit: cover;
}

/* CONTACTS */

.contacts-list {
  list-style: none;
  margin: 0px 0px 35px 110px;  
}

.contacts-list__link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: .3s;
}

.contacts-list__item {
  line-height: 30px;
  position: relative;
  margin: 7px 0px;
}

.contacts-list__link:hover {
  color: rgb(255, 221, 176);
}

.gmail::before,
.phone::before,
.github::before, 
.linkedin::before,
.discord::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: -60px;
}

.gmail::before {
  background-image: url("assets/icons/contacts/gmail.png");
  background-size: cover;
}

.phone::before {
  background: url("assets/icons/contacts/phone.png");
  background-size: cover;
}

.github::before {
  background-image: url("assets/icons/contacts/github.png");
  background-size: cover;
}

.linkedin::before {
  background-image: url("assets/icons/contacts/linkedin.png");
  background-size: cover;
}

.discord::before {
  background-image: url("assets/icons/contacts/discord.png");
  background-size: cover;
}

/* SKILLS */
.skills {
  margin-bottom: 35px;
}

.skills-list {
  list-style: none;
}

.skills-list__item {
  line-height: 40px;
  font-size: 16px;
  margin: 7px 0;
}

.html,
.css,
.js,
.python,
.git,
.editors,
.react {
    position: relative;
    margin-left: 100px;
    transition: .3s;
}

.scss,
.webpack,
.flask,
.ts {
  position: relative;
  margin-left: 65px;
}

.css,
.scss,
.js,
.webpack,
.python,
.flask,
.react,
.ts {
    display: inline;
}

.html::before,
.css::before,
.scss::before,
.js::before,
.webpack::before,
.python::before,
.flask::before,
.git::before,
.editors::before,
.react::before,
.ts::before
 {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: -48px;
  margin-top: 5px;
}

.html::before {
  background: url("assets/icons/skills/html.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.css::before {
  background: url("assets/icons/skills/css.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.scss::before {
  background: url("assets/icons/skills/scss.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.js::before {
  background: url("assets/icons/skills/js.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.webpack::before {
  background: url("assets/icons/skills/webpack.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.python::before {
  background: url("assets/icons/skills/python.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.flask::before {
  background: url("assets/icons/skills/flask.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.git::before {
  background: url("assets/icons/skills/git.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.editors::before {
  background: url("assets/icons/skills/editors.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.react::before {
  background: url("assets/icons/skills/react.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.ts::before {
  background: url("assets/icons/skills/ts.png") no-repeat;
  background-position: center;
  background-size: contain;
}

/* LANGS */
.langs-list {
  list-style: none;
  margin-left: 100px;
}

.langs-list__item {
  font-size: 18px;
  line-height: 26px;
  margin: 7px 0;
  position: relative;
}

.langs-list__item:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  left: -50px;
  background: url("assets/icons/langs/check1.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.white-zone {
  max-width: 742px;
  width: 100%;
  height: 1515px;
  color: #000;
  background-color: #fff;
}

/* NAME-BLOCK */
.name-block {
  text-transform: uppercase;
}

.name-block__name {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  margin: 20px 0px 0 56px;
}

.name-block__position {
  font-size: 24px;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0em;
  margin: 0 0 35px 56px;
}


/* ABOUT */
.about {
  margin-bottom: 35px;
}

.about__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  margin: 15px 25px 15px 50px;
  text-align: justify;
}

.education {
  margin-bottom: 35px;
}

.education-list {
  list-style: none;
  margin: 15px 0px 15px 90px;
}

.education-list__item {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  /* line-height: 22px; */
  letter-spacing: 0em;
  margin: 7px 0;
}

.education-list__item::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: -35px;
  background: url("assets/icons/education/check2.png") no-repeat;
  background-position: center;
  background-size: contain;
}

/* PROJECTS */

.portfolio {
  display: flex;
  flex-direction: column;
  row-gap: .7rem;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0px 15px 56px;
  gap: 20px;
}

.project__title {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  margin-top: 5px;
}

.project__link {
  text-decoration: none;
  font-size: 14px;
}

.project__instance {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: .5rem;
}

.project__description {
  display: flex;
  flex-direction: column;
  padding-right: 80px;
  row-gap: .5rem;
}

.project__stack {
  font-weight: 500;
  font-size: 14px;
}

.stack-weight {
  font-weight: 600;
}

.project__link-list {
  padding-left: 30px;
}